body { background: #59b59d; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 42px; display: flex; }
.block-cache-0 { color: #1b5997; font-size: 21px; margin-bottom: 5px; }
.block-shipping-1 { color: #3c0fda; font-size: 17px; margin-bottom: 5px; }
.block-user-2 { color: #a61e63; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #dc16f9; font-size: 15px; margin-bottom: 5px; }
.block-filter-4 { color: #c0e134; font-size: 13px; margin-bottom: 5px; }
.block-validator-5 { color: #4eb0b3; font-size: 14px; margin-bottom: 5px; }